<article class="flex flex-col items-center justify-center gap-8 text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Diego Eduardo, tengo 19 a침os, de Lima-Per칰 游왫릖. Empec칠 en el mundo de la programaci칩n con el IST CIBERTEC. Actualmente estoy <strong>
        dedicandome a la programaci칩n web freelancer y an치lisis QA.
      </strong>
    </p>

    <p>
        He desarrollado s칩lidas habilidades en <strong>HTML, CSS, JavaScript, TypeScript, React, y Figma </strong>,
        lo que me permite dise침ar y crear experiencias web fluidas y atractivas para los usuarios. Adem치s, He colaborado en
        <strong>proyectos colaborativos</strong> institucionales y con terceros que me han ayudado a
        fortalecer mis habilidades de comunicaci칩n y trabajo en equipo.
      </p>

    <p>
        Mi objetivo es brindar <strong>calidad y eficacia</strong> en los proyectos desarrollados, mientras sigo
        <strong>aprendiendo y adapt치ndome</strong> a nuevas tecnolog칤as para ofrecer soluciones innovadoras.
    </p>
  </div>

  <img 
    width="200" 
    height="200" 
    src="/provisional-photo.jpg" 
    alt="Diego Eduardo" 
    class="order-1 object-cover w-64 h-full p-1 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-yellow-500/5 ring-1 ring-white/20"
    style="object-position: 50% 50%">
</article>